.skills-section{
    width:90%;
    /* background-color: red; */
    margin:auto;
    padding:3rem 1rem;
}

.skills-container{
    width: 100%;
    /* background-color: rgb(224, 157, 69); */
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.2rem 2rem;
}

.skill{
    display:flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.name h4{
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.skill .bar{
    width: 95%;
    background-color: rgb(134, 100, 235);
}
.skill .bar .per{
    width:100%;
    background-color: rgb(68, 239, 42);
    animation: length 3s;
}
.skill .bar .per p{
    width: 100%;
    text-align: center;
}


h1{
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

@keyframes length {
    0%{
        width:0%
    }
    100%{
        width:100%;
    }
}