.project-heading{
    text-align: center;
    padding: 4rem 0 1rem 0;
}
.project-container{
    max-width: 1240px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    padding: 2.5rem 2rem 2rem 2rem ;
    /* background-color: yellowgreen; */
}
@media screen and (max-width:740px) {
    .project-container{
        max-width:100%;
        margin:auto;
        grid-template-columns: 1fr;
    }
    
}